services:
  app:
    build: .
    container_name: autoria_scraper
    env_file:
      - .env
    depends_on:
      - db
      - migrations
    restart: always

  migrations:
    build: .
    command: [ "alembic", "upgrade", "head" ]
    volumes:
      - ./src:/app/src
      - ./migrations:/app/migrations
      - ./alembic.ini:/app/alembic.ini
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: autoria_db
    restart: always
    environment:
      POSTGRES_DB: autoria
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
